.second-section{
    height: 900px;
    width: 1900px;
  }
  
  
  .first-part{
    height: 900px;
    width: 960px;
    background-image: url("../img/maimi-pic2\ -\ Copy.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
  }
  .second-part{
    width:50%;
    background-color: rgba(249,240,56,255);
    border-style: solid;
    border-width: 0;
  }
  
  