/* dont like */
/* *{
    margin: 0;
    padding: 0;
    outline: none;
} */

body{
    background: rgb(233, 233, 233);
    /* background-color: #328f8a; */
    /* background: lightgreen; */
    /* background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
}
/* dont like */
.container{ 
    display: flex;
    width: 1200px;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    margin-left: 30px;
    width: 280px;
    height: 97vh;
    background: #fff;
    /* background: rgb(106, 215, 106); */
    border-radius: 5px;
}
h1{
    color: #17B169;
}
 
.navbar{
    width: 80%;
    margin: 0 auto;
}

ul{
    margin: 0 auto;
    margin-top: 50px;
}

li{
    padding-bottom: 2rem;
    list-style-type: none;
}

li a{
    font-size: 16px;
    color: rgb(85, 83, 83);
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

nav i{
    color: #17B169;
    width: 40px;
    font-size: 15px;
}

.logout{
    position: absolute;
    bottom: 20px;
}

.main-container{
    padding: 10px 10px 10px 20px;
}

.main-container h1{
    margin: 20px 10px;
}

.search-bar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.search-bar input{
    padding: 5px;
    margin-left: 22px;
    width: 500px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}

.search-bar input:focus{
    /* change color */
    border: 1px solid #17B169;
}

.search-bar select{
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin-left: 2rem;
    width: 150px;
}

.search-bar .filter{
    width: 150px;
}

.inventory-count{
    font-size: 15px;
    padding: 10px;
    margin-top: 1.3rem;
    margin-left: 20px;
}

p span{
    /* change color */
    color: #17B169;
}

.inventory{
    margin-top: 20px;
    text-transform: capitalize;
}

.inventory-list{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px black;
    margin-top: 10px;
    margin-left: 3%;
    padding: 10px;
    width: 100%;
}

.table{
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    margin: 25px 0;
    min-width: 100%;
    overflow: hidden;
}

table thead tr{
    color: #fff;
    background: #17B169;
    text-align: left;
    font-weight: bold;
}

.table th, .table td{
    padding: 12px 15px;;
}

.table tbody tr{
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even){
    background: #f3f3f3;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #17B169;
}

.table button:hover{
    cursor: pointer;
    border: black;
    box-shadow: 1px 1px;
    border-radius: 2px;
}


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}