.first-section{
    position: relative;
  }
  .top-header{
    height: 80px;
    width: 800px;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    margin-right: 40px;
    margin-top: 50px;
    justify-content: right;
    z-index: 100;
  
  }
  @media (max-width: 1000px) {
    .top-header{
      margin-top: 20px;
     justify-content: right;
    }
  }
  .right-side {
    display: flex;
  }
  
  .about-button{
    height: 54px;
    width: 155px;
    border-radius: 77px;
    background:linear-gradient(to top right, #2abba8, #32CD32);
    border-width: 0;
    font-family:"Trebuchet MS",sans-serif ;
    font-size: 2.1rem;
    font-weight: 500;
    flex: 1;
    margin-right: 17px;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .about-button:hover{
    opacity: 0.8;
  }
  .support-button{
    height: 54px;
    width: 155px;
    border-radius: 77px;
    background:linear-gradient(to top right, #2abba8, #32CD32);
    border-width: 0;
    font-family:"Trebuchet MS",sans-serif ;
    font-size: 2.1rem;
    font-weight: 500;
    flex: 1;
    margin-right: 17px;
    transition: 0.3s;
    cursor: pointer;
  }
  .support-button:hover{
    opacity: 0.8;
  }
  .profile-button{
    height: 54px;
    width: 54px;
    border-radius: 27px;
    background:linear-gradient(to top right, #2abba8, #32CD32);
    border-width: 0;
    flex: 1;
    margin-right: 17px;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .profile-button:hover{
    opacity: 0.8;
  }
  .home-button{
    height: 54px;
    width: 54px;
    border-radius: 27px;
    background:linear-gradient(to top right, #2abba8, #32CD32);
    border-width: 0;
    flex: 1;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .home-button:hover{
    opacity: 0.8;
  }
  .profile-pic{
    height: 28px;
  }
  .home-pic{
    height: 28px;
  }
  @media (max-width: 1000px) {
    .about-button,.support-button,.profile-button,.home-button{
      background-color: cadetblue;
    }
  }
  @media (max-width: 1000px) {
    .about-button,.support-button {
      font-size: 17px;
      height: 44px;
      width: 105px;
    }
  }
  @media (max-width: 1000px) {
    .profile-button,.home-button{
      height: 42px;
      width: 42px;
      border-radius:21px ;
    }
  }