@font-face {
    font-family: Sans-sharp;
    src: url(../fonts/FeatureDisplay-Bold-Trial.otf) format("opentype");
  
  }

  #third-section{
    height: 50rem;
    background-color: #545454;
  
  }
  .support-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .support-section{
    display: flex;
    flex-direction: row;
  }
  .support-section p{
    font-size: 1.7rem;
    text-align: center;
    font-family: graphik-medium, sans-serif
  }
  .box1, .box2{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height: 29.6rem;
    width: 44.4rem;
    background-color: white;
  }
  .box2{
    margin-left: 25px;
  }
  
  .support-icons{
    height: 5.4rem;
    width: 5.4rem;
  
  }
  .support-title{
    font-family: Sans-sharp,sans-serif;
    font-size: 3vw;
    color: white;
    margin-bottom: 4rem;
    margin-top:4rem;
  }
  .box-title{
    font-family: Sans-sharp,sans-serif;
    font-size: 2.6rem;
  
  }
  .number-button,.email-button{
    width: 90%;
    height: 10%;
    font-size: 18px;
    border-width: 1px;
    border-radius: 3px;
  }
  .number-button:hover,.email-button:hover{
    background: #EFEFEF;
    border-width: 1px;
    border-radius: 3px;
  
  
  }
  