<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="x-icon" href="Store-front-logo%202.jpeg">
  <link rel="stylesheet" href="static/resources/Css/yellow-box.css">
  <link rel="stylesheet" href="static/resources/Css/general.css">
  <link rel="stylesheet" href="static/resources/Css/header.css">
  <link rel="stylesheet" href="static/resources/Css/second-section.css">
  <title>Store Front</title>
</head>
<body>
  <div class="first-section">
    <div class="top-header">
      <div class="right-side">
        <div class="about-container">
          <button class="about-button"> About Us</button>
        </div>
        <div class="support-container">
          <button class="support-button">Support</button>
        </div>
        <div class="profile-container">
          <a href="{{ url_for('login')}}">
            <button class="profile-button"><img class="profile-pic"  src="static/resources/icons/profile-icon2.svg" ></button>
          </a>
        </div>
        <div class="home-container">
          <button class="home-button"><img class="home-pic" src="static/resources/icons/home-icon.svg"></button>
        </div>
      </div>

    </div>
    <div class="Whole-yellow-box">
      <div class="inside-box">
        <div class="inside-box-text">
          Store Front
        </div>
      </div>
      <div class="description-text">
        <p class="header1">Inventory Management System</p>
        <p class="header2">We're a company that what's you to focus more on running your
          business and less worried about managing your Inventory <a href="https://google.com">&#8594</a>
        </p>
      </div>
    </div>
  </div>

  <div class="second-section">
    <div class="first-part"></div>
    <div class="second-part"></div>
  </div>
</body>

</html>
