<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="static/resources/Css/styleProductDetails.css">
</head>
<body>


    <div class="small-container single-product">
        <div class="inside-box">
            <div class="inside-box-text">
              Store Front
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h1>{{ data.name }}</h1>
                <div class="col-img1">
                    <div class="col-img">
                        <img src="{{ data.image_url }}" width="55%" id="ProductImg">
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{{ data.image_url }}" width="20%" class="small-img">
                            <img src="{{ data.image_url }}" width="20%" class="small-img">
                            <img src="{{ data.image_url }}" width="20%" class="small-img">
                            <img src="{{ data.image_url }}" width="20%" class="small-img">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-2 col-details">
                    <!--There should be a dinamic variable here to display the number of tshirts of that model and size-->
                    <h3>Number of Items: {{ data.quantity }} </h3>
                    <h2>${{data.price}}</h2>
                    <h3>Product Details</h3>
                    <p>{{ data.detail }}</p>
            </div>
            
        </div>
    </div>
</body>
</html>